*{
	padding: 0px;
	margin: 0px;
}

body {
	background-color: black;
	font-family: sans-serif;
}

#level_title {
	font-size: 18px;
	color: black;		
	font-weight: bold;
}

#level_image {
    margin-top: 45px;
    margin-right:100px;
    margin-left: 230px;
    margin-bottom: 55px;
    width: 1000px;
    height: 550px;

}
#level_video { 
    margin-top: 45px;
    margin-right:100px;
    margin-left: 230px;
    margin-bottom: 20px;
    width: 1000px;
    height: 550px;

}